.card {
    padding: 15px;
    margin: 15px;
    background-color: beige;
    border-radius: 5px;
    }
    .card-image {
    float: right;
    padding-left: 10px;
    padding-right: 10px;
    }